<div class="profile-container">
    <div class="profile-title">
        <h1><%= @user.username %></h1>
    </div>
    <%= render 'friendships/add_logic', user: @user%>
    <% if @user.posts.any? %>
        <div class="posts-container"><%= render @user.posts %></div>
    <% else %>
        <p>User has no posts yet.</p>
    <% end %>
</div>