<%= form_with model: @post, class: "post-form" do |form| %>
    <div class="field">
      <%= form.label :body, "Whats on your mind?" %><br>
      <%= form.text_area :body %>
    </div>
    <div class="field"><%= form.submit %></div>
<% end %>
