* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

:root {
    --main-bg-color: #3b82f6;
    --main-bg-color-light: #ecf3ff;
    --main-bg-color-dark: #29569e;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    background-color: var(--main-bg-color);
    height: 10vh;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
}

.logo:hover {
    opacity: 0.7;
}

.logo {
    height: 85%;
    width: auto;
}

nav a {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.main-container {
    min-height: 80vh;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-users {
    background-color: var(--main-bg-color-light);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--main-bg-color);
}

footer p {
    color: white;
}

.login-container {
    height: 100vh;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10vw;
}

.login-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container div:first-child {
    align-items: flex-start;
    gap: 20px;
}

.login-logo {
    width: 30vw;
}

.login-container p {
    color: white;
    font-size: 20px;
}

.login-inputs {
    background-color: white;
    border-radius: 30px;
    height: fit-content;
    width: fit-content;
    align-self: center;
    justify-self: center;
    padding: 40px;
    position: relative;
    box-shadow: 3px 3px 10px 0px #00000088;
}

.login-inputs p {
    color: black;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-bg-color);
    margin-bottom: 14px;
}

.login-inputs input[type="text"], .login-inputs input[type="password"] {
    width: 350px;
    margin-top: 6px;
    padding: 10px 8px;
    border-radius: 8px;
    outline: none;
    border: solid 1px var(--main-bg-color);
    background-color: rgb(241, 244, 250);
}

.login-inputs input[type="text"]:focus, .login-inputs input[type="password"]:focus {
    box-shadow: 0px 0px 4px 2px rgba(99, 99, 255, 0.284);
    transition: 0.3s;

}

.login-inputs form {
    display: flex;    
    flex-direction: column;
    gap: 18px;
}

.login-inputs form label {
    font-size: 16px;
}

.login-inputs input[type="submit"] {
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 10px 0px;
    color: white;
    font-size: 20px;
}

.login-inputs input[type="submit"]:hover {
    background-color: var(--main-bg-color-dark);
    transition: 0.3s;
}

.error-messages {
    color:red;
    font-size: 16px;
    position: absolute;
    bottom: 25px;
}

.sign-up-btn {
    background-color: rgb(54, 200, 54);
    padding: 10px 30px;
    color: white;
    border-radius: 8px;
    padding: 10px 0px;
    font-size: 20px;
    width: 40%;
    text-align: center;
}

.sign-up-btn:hover {
    background-color: rgb(35, 122, 35);
    transition: 0.3s;
}

.forgot-password {
    color: var(--main-bg-color);
    margin-top: 6px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.post {
    position: relative;
    max-width: 580px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color-light);
    gap: 4px;
    border-radius: 10px;
    padding: 30px 50px;
    width: 50%;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.post-form-title {
    color: var(--main-bg-color-dark);
    font-weight: 500;
}

.post .icon {
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.post .icon:hover {
    cursor: pointer;
    opacity: 0.5;
}

.post .post-img {
    align-self: center;
    height: 400px;
    width: 400px;
    margin-bottom: 20px;
}

.post .text {
    margin-bottom: 20px;
    letter-spacing: 0.6px;
    word-spacing: 1.5px;
}

.post .horizontal-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.horizontal-container div:first-child {
    display: flex;
    gap: 6px;
    align-items: center;
}

.account-options-container .horizontal-container {
    color: var(--main-bg-color-dark);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.account-options-container .horizontal-container:hover {
    text-decoration: underline;
}

.account-options-container .icon {
    height: 20px;
}

.post-form .icon {
    height: 35px;
}

.post-form .icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.post-image-input {
    position: absolute;
    top: 15px;
    right: -35px;
}

.post-form {
    position: relative;
}

.post .author {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-bg-color-dark);
}

.post .post-time {
    font-size: 14px;
    color: #7d7d7d;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.posts-with-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.posts-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 100%;
}

.post .show-comments {
    align-self: center;
    width: fit-content;
    color: var(--main-bg-color-dark);
    text-align: center;
}

.post .show-comments:hover {
    cursor: pointer;
    scale: 1.05;
}

.post-form textarea {
    resize: none;
    outline: none;
    width: 500px;
    height: 100px;
    padding: 4px 6px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.post-form input[type="submit"] {
    background-color: var(--main-bg-color);
    border: none;
    padding: 8px 24px;
    border-radius: 6px;
    color: white;
}

.post-form input[type="submit"]:hover {
    background-color: var(--main-bg-color-dark);
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comments-container div {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: -6px;
}

.comments-container a {
    font-weight: 500;
    text-decoration: none;
    color: var(--main-bg-color-dark);
    margin-right: 6px;
}

.comment-form textarea {
    resize: none;
    outline: none;
    border: solid 2px rgba(128, 128, 128, 0.356);
    border-radius: 10px;
    width: 100%;
    height: 60px;
    padding: 4px 4px;
}

.comment-form .post-btn {
    border: none;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    padding: 4px 20px;
    color: white;
}

.comment-form .post-btn:hover {
    background-color: var(--main-bg-color-dark);
    transition: 0.4s;
}

.comment-form p:last-child {
    display: flex;
    justify-content: end;
}

.navbar-links {
    display: flex;
    gap: 50px;
    color: white;
}

nav .icon {
    height: 30px;
}

.navbar-links a {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
}

.navbar-links a:hover {
    opacity: 0.6;
}

.like-btn {
    height: 26px;
}

.like-btn:hover {
    cursor: pointer;
    scale: 1.1;
}

.post hr {
    border-top: 0.5px solid var(--main-bg-color-dark);
}

.likes-container {
    display: flex;
    justify-content: space-between;
}

.likes-container .like-count {
    text-decoration: none;
    color: black;
}

.like-count:hover {
    cursor: pointer;
    color: var(--main-bg-color-dark);
}

.likes-container > div {
    display: flex;
    gap: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: relative;
}

.account-options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 40px;
    left: 5%;
    color: var(--main-bg-color-dark);
    font-weight: bold;
}

.account-options-container hr {
    border-top: 1px solid var(--main-bg-color);
    margin-top: -18px;
}

.account-options-container * {
    font-size: 18px;
}

.add-friend-container {
    display: flex;
    align-items: center;
}

.friend-request-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color-light);
    padding: 26px 18px;
    border-radius: 10px;
    align-items: center;
}

.friend-request-container a {
    color: var(--main-bg-color-dark);
    text-decoration: none;
    font-size: 18px;
}

.friend-request-container div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.friend-request-container button {
    background-color: var(--main-bg-color);
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
}

.friend-request-container button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.friend-request-container button.delete {
    background-color: darkred;
}

.add-friend-container button {
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.add-friend-container .delete-btn {
    background-color: rgb(156, 2, 2);
}

.add-friend-container .delete-btn:hover {
    cursor: pointer;
    background-color: rgb(104, 1, 1);
}

.friends-status {
    font-weight: bold;
    color: var(--main-bg-color-dark);
}

.friends-link {
    width: 40%;
    display: flex;
    justify-content: end;
}

.add-friend-container button:hover {
    background-color: var(--main-bg-color-dark);
}

.profile-title {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.profile-title h1 {
    font-size: 30px;
    font-weight: 400;
    color: var(--main-bg-color-dark);
}

.posts-buttons-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

.profile-posts-buttons {
    width: 40%;
    display: flex;
    gap: 20px;
    justify-content: end;
}

.profile-posts-buttons button {
    border: 2px solid #3b82f6;
    background-color: white;
    color: var(--main-bg-color);
    padding: 6px 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 500;
}

.profile-posts-buttons button:hover {
    cursor: pointer;
}

button.profile-selected-posts {
    background-color: var(--main-bg-color);
    color: white;
    transition: 0.2s;
}

.posts-buttons-container hr {
    margin-top: -2px;
    width: 40%;
    border: 1px solid var(--main-bg-color);
}

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 22%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.modal div:first-child {
    display: flex;
    justify-content: space-between;
}

.modal div:first-child p:first-child {
    color: var(--main-bg-color);
    font-size: 16px;
    font-weight: 500;
}

.modal hr {
    border-top: 1px solid var(--main-bg-color);
}

.modal-list {
    height: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.modal-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-list a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.profile-picture {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.profile-picture-small {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.profile-title div:first-child {
    display: flex;
    gap: 16px;
    align-items: center;
}

.notifications-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notification-container {
    background-color: var(--main-bg-color-light);
    padding: 26px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    border-radius: 10px;
    width: 500px;
    position: relative;
}

.notification-container a {
    text-decoration: none;
    color: var(--main-bg-color-dark);
}

.notification-container .icon {
    position: absolute;
    height: 24px;
    top: 6px;
    right: 6px;
}

.notification-container .icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

.vertical-container-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
}

.top-page-buttons {
    width: 500px;
    gap: 20px;
    display: flex;
    justify-content: end;
}

.top-page-buttons a {
    background-color: var(--main-bg-color);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 16px;
}

.top-page-buttons a:hover {
    background-color: var(--main-bg-color-dark);
}

.top-page-buttons button {
    background-color: var(--main-bg-color);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 16px;
}

.top-page-buttons button:hover {
    cursor: pointer;
    background-color: var(--main-bg-color-dark);
}

.user-registration-container {
    position: relative;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--main-bg-color-light);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.user-registration-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-registration-container .field {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.label-pass {
    font-size: 12px;
    color: gray;
}

.user-registration-container .field label {
    font-size: 14px;
    color: gray;
    margin-bottom: 2px;
}

.user-registration-container .field input[type="text"],.user-registration-container .field input[type="email"] {
    outline: none;
    border: 1px solid var(--main-bg-color);
    padding: 4px;
    border-radius: 4px;
}

.user-registration-container input[type="file"]::file-selector-button {
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
}

.user-registration-container input[type="file"]::file-selector-button:hover {
    opacity: 0.6;
}

.user-registration-container input[type="submit"]:hover {
    opacity: 0.6;
}

.user-registration-container .field input[type="text"]:focus ,.user-registration-container .field input[type="email"]:focus {
    transition: 0.3s;
    box-shadow: 0px 0px 3px 0px var(--main-bg-color);
}

.user-registration-container input[type="submit"] {
    width: 100%;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 0;
    font-size: 18px;
    margin-top: 10px;
}

.user-registration-container .back-btn {
    position: absolute;
    top: 0;
    right: -120px;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
}

.back-btn:hover {
    background-color: var(--main-bg-color-dark);
}